asn1crypto==1.4.0
astroid==2.4.2
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
future==0.18.2
idna==2.10
isort==5.6.4
lazy-object-proxy==1.5.2
mccabe==0.6.1
pycparser==2.20
pylint==2.6.0
python-telegram-bot==13.1
requests==2.25.0
six==1.15.0
urllib3>=1.24.2
wrapt==1.12.1
python-magic==0.4.18
