asn1crypto==1.4.0
astroid==2.4.2
certifi==2020.12.5
cffi==1.14.4
chardet>=3.0.2
cryptography==3.3.1
future==0.18.2
idna==3.1
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
pycparser==2.20
pylint==2.6.0
python-telegram-bot==13.1
requests==2.25.1
six==1.15.0
urllib3>=1.24.2
wrapt==1.12.1
python-magic==0.4.18
