asn1crypto==1.4.0
astroid<2.6
certifi==2020.12.5
cffi==1.14.5
chardet>=3.0.2
cryptography==3.4.7
future==0.18.2
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pycparser==2.20
pylint==2.7.4
python-telegram-bot==13.4.1
requests==2.25.1
six==1.15.0
urllib3>=1.24.2
wrapt==1.12.1
python-magic==0.4.22
