[Unit]
Description=Telegram Bot Service for Chevereto
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nohup /usr/bin/python3 /root/Chevereto-Telegram-Bot/server.py m>> /root/Chevereto-Telegram-Bot/bot.log 2>&1 &
ExecStop=/usr/bin/bash /root/Chevereto-Telegram-Bot/stop.sh
Restart=always
LimitNOFILE=512000

[Install]
WantedBy=multi-user.target